* {box-sizing: border-box;}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

#left{
  border: solid thin black;
  background: -moz-linear-gradient(-45deg, #f8ffe8 0%, #e3f5ab 33%, #b7df2d 100%); /*verde*/
  width: 25%;
  height: 100%;
  float: left;
  padding: 10px;
  font-size: 20px;
}

#outside {
  border: solid thin black;
  font-size: 20px;
  background: -moz-linear-gradient(-45deg, #febbbb 0%, #fe9090 45%, #ff5c5c 100%); /*rojo*/
  width: 75%;
  height: 100%;
  float: left;
}

#top {
  border: solid thin black;
  font-size: 20px;
  padding: 10px;
  background: -moz-linear-gradient(-45deg, #d6f9ff 0%, #9ee8fa 100%); /*azul*/
  width: 100%;
  height: 25%;
  float: left;

}

#inside {
  border: solid thin black;
  font-size: 20px;
  background: -moz-linear-gradient(-45deg, #fb83fa 0%, #e93cec 100%); /*rosa*/
  width: 100%;
  height: 75%;
  float: left;

}

#content {
  border: solid thin black;
  font-size: 20px;
  background: -moz-linear-gradient(-45deg, #45484d 0%, #000000 100%); /*negro*/
  width: 75%;
  height: 50%;
  float: left;

}

#content-right {
  border: solid thin black;
  font-size: 20px;
  padding: 10px;
  background: -moz-linear-gradient(-45deg, #ffff88 0%, #ffff88 100%); /*amarillo*/
  width: 50%;
  height: 100%;
  float: left;

}

#content-left {
  border: solid thin black;
  padding: 10px;
  background: -moz-linear-gradient(-45deg, #ffd65e 0%, #febf04 100%); /*naranja*/
  width: 50%;
  font-size: 20px;
  height: 100%;
  float: left;

}

#content-bottom {
  border: solid thin black;
  padding: 10px;
  background: -moz-linear-gradient(-45deg, #f0b7a1 0%, #8c3310 50%, #752201 51%, #bf6e4e 100%); /*marron*/
  width: 100%;
  font-size: 20px;
  height: 100%;
  float: left;

}

#right {
  border: solid thin black;
  padding: 10px;
  background: -moz-linear-gradient(-45deg, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%); /*gris*/
  width: 25%;
  font-size: 20px;
  height: 100%;
  float: right;

}
